<ion-view view-title="Info">
  <ion-content>
    <img class="full-image" src="../img/thb_logo.png" />
      <div class="imprint imprint-text">
        <strong>Kontakt</strong><br />
        Fachhochschule Brandenburg<br />
        University of Applied Sciences<br />
        Magdeburger Straße 50<br />
        14770 Brandenburg an der Havel<br />
        T +49 3381 355 - 0<br />
        <br />
        <a href="#"><i class="icon ion-social-facebook"></i></a>
        <a href="#"><i class="icon ion-social-twitter"></i></a>
        <a href="#"><i class="icon ion-social-youtube"></i></a>
        <br />
        <br />
        <strong><a href="http://www.th-brandenburg.de">www.th-brandenburg.de</a></strong>
      </div>
  </ion-content>
</ion-view>
